<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thejaljal.jaljal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CommonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.thejaljal.jaljal.view.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thejaljal.jaljal.view.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.thejaljal.jaljal.view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.thejaljal.jaljal.view.activity.RecipeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.thejaljal.jaljal.view.activity.RecycleActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.thejaljal.jaljal.view.activity.VisionActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />


        <activity
            android:name="com.thejaljal.jaljal.view.activity.FaqActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.thejaljal.jaljal.view.activity.ContactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.thejaljal.jaljal.view.activity.PremiumItemActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />


        <activity
            android:name="com.thejaljal.jaljal.view.activity.OrderPremiumItemActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />



        <activity
            android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.kakao.sdk.ClientSecret"
            android:value="X4XSn2XeqqK6u48kYXGA3ySeBkSQ4Xed" />

        <!-- 페이스북 -->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider135586723702300"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />
    </application>

</manifest>